aiodns==3.0.0
aiofiles==0.7.0
aiohttp==3.8.1
aiomultiprocess==0.9.0
aiosignal==1.2.0
aiosqlite==0.17.0
animation==0.0.7
anyio==3.4.0
apkleaks==2.6.1
appdirs==1.4.4
args==0.1.0
asgiref==3.4.1
asn1crypto==1.5.1
async-timeout==4.0.1
attrs==21.2.0
backoff==1.11.1
beautifulsoup4==4.10.0
censys==2.0.9
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
charset-normalizer==2.0.8
cli-helpers==2.1.0
click==7.1.2
click-plugins==1.1.1
clint==0.5.1
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cryptography==3.3.1
dataclasses==0.6
dataclasses-json==0.5.6
defusedxml==0.6.0
delegator.py==0.1.1
distlib==0.3.4
Django==4.0.2
dnspython==2.1.0
fastapi==0.70.0
filelock==3.6.0
fire==0.4.0
Flask==1.1.2
frida==15.1.14
frida-tools==10.4.1
frozenlist==1.2.0
gunicorn==20.1.0
h11==0.12.0
idna==2.10
importlib-metadata==4.8.2
iteration-utilities==0.11.0
itsdangerous==1.1.0
Jinja2==2.11.3
jira==2.0.0
-e git+ssh://git@source.golabs.io/qa/ci-tools-and-scripts/kakarot-cli.git@d953847d3c555a7dd0e954129c517be760d51f8e#egg=Kakarot
limiter==0.1.2
limits==1.5.1
litecli==1.6.0
lxml==4.6.4
MarkupSafe==1.1.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
multidict==5.2.0
mypy-extensions==0.4.3
netaddr==0.8.0
oauthlib==3.1.0
objection==1.11.0
pbr==5.5.1
pexpect==4.8.0
Pillow==9.1.0
platformdirs==2.5.1
prompt-toolkit==3.0.28
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pyaxmlparser==0.3.26
pycares==4.1.2
pychalk==2.0.1
pycparser==2.20
pydantic==1.8.2
pyee==8.2.2
pyfiglet==0.8.post1
Pygments==2.9.0
PyInquirer==1.0.3
pyjokes==0.6.0
PyJWT==2.0.1
pyppeteer==0.2.6
PySocks==1.7.1
PyYAML==5.4.1
redis==3.5.3
regex==2021.11.10
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
responses==0.13.4
retrying==1.3.3
rich==10.14.0
semver==2.13.0
shodan==1.25.0
six==1.15.0
slack-sdk==3.5.0
slowapi==0.1.5
sniffio==1.2.0
soupsieve==2.3.1
spyse-python==2.2.3
sqlparse==0.4.1
starlette==0.16.0
tabulate==0.8.9
termcolor==1.1.0
terminaltables==3.1.0
token-bucket==0.2.0
tqdm==4.62.3
typing-inspect==0.7.1
typing_extensions==4.0.0
tzdata==2021.5
ujson==4.3.0
urllib3==1.26.5
uvicorn==0.15.0
virtualenv==20.13.1
wcwidth==0.2.5
websockets==9.1
Werkzeug==1.0.1
XlsxWriter==3.0.2
yarl==1.7.2
zipp==3.6.0
